*/Cargo.lock
*/package-lock.json
*/node_modules/

*/.idea/
*/.vscode/

rust/solidity/artifacts/
rust/solidity/cache/

*/.DS_Store

# Compiler files
rust/solidity/cache
rust/solidity/out/

# Ignores development broadcast logs
rust/solidity/broadcast

# Dotenv file
.env
